<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Add athlete photo</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/main-header.css}" rel="stylesheet"/>
    <link th:href="@{/css/admin.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="~{fragments/main-header.html :: header}"></div>
<div class="main-content">
    <div class="column">
        <div class="admin_block">
            <h2>Add athlete photo</h2>
            <form class="form-container" th:action="@{/admin/add-photo-athlete}" method="post" enctype="multipart/form-data">
                <input type="hidden" th:name="athleteId" th:value="${athleteId}"/>
                <input type="file" name="photo" accept="image/png" required/>
                <input type="submit" value="Upload"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>