<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Creating event</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/main-header.css}" rel="stylesheet"/>
    <link th:href="@{/css/admin.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="~{fragments/main-header.html :: header}"></div>
<div class="main-content">
    <div class="column">
        <div class="admin_block">
            <h2>Create event</h2>
            <form class="form-container" method="POST" action="/admin/add-event">
                <label for="event-name">City name:</label>
                <input type="text" id="event-name" name="city_name" required><br><br>

                <label for="start-date">Date range:</label>
                <input type="date" id="start-date" name="start_date" required>

                <input type="date" id="end-date" name="end_date" required><br><br>
                <input type="submit" value="Add event">
            </form>

            <p th:text="${message_for_create_event}"></p>
        </div>
    </div>
</div>
</body>
</html>