<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Athletes</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/main-header.css}" rel="stylesheet"/>
    <link th:href="@{/css/table.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="~{fragments/main-header.html :: header}"></div>
<div class="main-content">
    <div th:switch="${athletes}">
        <div class="column">
            <div class="heading-table" th:case="null">
                <h2>No athletes</h2>
            </div>
            <div class="parent" th:case="*">
                <div class="heading-table">
                    <h2>Athletes</h2>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Country</th>
                        <th>Photo</th>
                        <th>Add photo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="athlete : ${athletes}">
                        <td th:text="${athlete.id}"></td>
                        <td th:text="${athlete.name}"></td>
                        <td th:text="${athlete.country}"></td>
                        <td class="zero-padding"><img th:if="${athlete.photo != null}" th:src="*{'data:image/png;base64,'+ athlete.photo}" alt="Athlete Photo" />
                            <img th:unless="${athlete.photo != null}" src="/images/biathlete_unknown.png" alt=""/></td>
                        <td><a th:href="@{/admin/add-photo-athlete/{id}(id=${athlete.id})}">add</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>