<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/main-header.css}" rel="stylesheet"/>
    <link th:href="@{/css/admin.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="~{fragments/main-header.html :: header}"></div>
<div class="main-content">
        <div class="admin_block">
            <h2>Select option</h2>
            <div class="link-group">
                <a th:href="@{/admin/upload}">Upload race results</a>
                <a th:href="@{/admin/add-event}">Create event</a>
                <a th:href="@{/admin/athletes}">Manage athletes</a>
                <a th:href="@{/admin/action3}">Add race</a>
                <a th:href="@{/admin/users}">Manage users</a>
                <a th:href="@{/admin/events}">Manage events</a>
            </div>
        </div>
</div>
</body>
</html>