<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Uploading race results</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/main-header.css}" rel="stylesheet"/>
    <link th:href="@{/css/admin.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="~{fragments/main-header.html :: header}"></div>
<div class="main-content">
    <div class="column">
        <div class="admin_block">
            <h2>Upload a PDF file with results</h2>
            <form class="form-container" method="POST" action="/admin/upload" enctype="multipart/form-data">
                <input type="file" name="file"><br><br>
                <input type="submit" value="Upload">
            </form>
            <p th:text="${message_for_upload}"></p>
        </div>
    </div>
</div>
</body>
</html>