<header>
    <div class="header-left">
        <img src="/images/logo.png" alt="Logo">
    </div>
    <div class="header-center">
        <a href="/">Home</a>
        <a href="/races">Races</a>
        <a href="/athletes">Athletes</a>
        <a href="#">Rules</a>
        <a th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" href="/admin">Admin</a>
    </div>
    <div class="header-right">
        <div sec:authorize="isAuthenticated()" class="user-info">
            <span sec:authentication="name"></span>
        </div>
        <div sec:authorize="isAuthenticated()" class="logout-button">
            <form th:action="@{/logout}" method="post">
                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                <button type="submit">Log out</button>
            </form>
        </div>
        <div sec:authorize="!isAuthenticated()" class="guest-info">
            <a th:href="@{/login}">Login</a>
        </div>
    </div>
</header>
