.admin_block {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  margin: auto;
  text-align: center;
  max-width:800px;
  max-height:600px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border: .150rem solid #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.link-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.link-group a {
  display: inline-flex;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  color: var(--text-color);
  padding: 8px 20px;
  margin: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.link-group a:hover {
  background-color: var(--accent-color);
  color: var(--text-color);
}