/* Styles for the entire container */
.create_block {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Styles for the heading */
.create_block h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 2em;
  color: var(--accent-new-color);
}

/* Styles for the form */
.create_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styles for form labels */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Styles for form inputs */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #e8e8e8;
  box-sizing: border-box;
}

/* Styles for select boxes */
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #e8e8e8;
  box-sizing: border-box;
}

/* Styles for buttons */
button {
  background-color: var(--accent-new-color);
  border: none;
  color: var(--btn-text-color);
  padding: 8px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

/* Styles for button container */
.padding_block:last-child {
  margin-top: 20px;
}
