:root {
  --bg-color: #333;
  --text-color: #fff;
  --accent-color: #e6b800;
  --accent-new-color: #C19B03;
  --btn-bg-color: var(--accent-color);
  --btn-text-color: var(--text-color);
}

header {
  background-color: var(--bg-color);
  color: var(--text-color);
  position: fixed;
  height: 70px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header-left {
  flex: 1;
}

.header-left img {
  max-height: 100%;
}

.header-center {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
}

.header-center a {
  background-color: var(--accent-new-color);
  border: none;
  color: var(--btn-text-color);
  padding: 8px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.header-center a:hover {
  background-color: #d4a900;
}

.header-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  padding-right:30px;
}

.user-info,
.guest-info {
  font-size: 16px;
  font-weight: 600;
}

.logout-button form {
  margin: 0;
}

.logout-button button {
  background-color: var(--btn-bg-color);
  border: none;
  color: var(--btn-text-color);
  padding: 8px 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.logout-button button:hover {
  background-color: #d4a900;
}

.guest-info a {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  color: var(--text-color);
  padding: 8px 20px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.guest-info a:hover {
  background-color: var(--accent-color);
  color: var(--text-color);
}

