:root {
  --bg-color: rgba(3, 3, 3, 1);
  --text-color: #fff;
  --accent-color: #e6b800;
  --accent-new-color: rgba(193, 155, 3, 1);
  --btn-bg-color: var(--accent-color);
  --btn-text-color: var(--text-color);
  --aqua-color: #7FFFD4;;
}

/* set default styles for all elements */
* {

}

/*html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-image: url("/images/antholz.jpg");
  background-color: #F8F8FF;
  background-image: url("/images/biath2.png"), url("/images/biath3.png");
  background-size: 200px 200px;
  background-position: 0 0, 100px 100px, 200px 200px;
  background-repeat: repeat;
}*/

html{
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding-top: 70px;
  height: calc(100% - 70px);
  background-image: url("/images/antholz.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:20px;
}

.main-content {
  max-width: 1100px;
  margin: auto;
  overflow-y: scroll;
  height: 100%;
  background-color: rgba(0,0,0,.8);
}

.main-content::-webkit-scrollbar {
  display: none;
}

.main-container {
  height:100%;
  width:100%;
  padding: 20px;
}


.stages {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  width: calc(200px + (500 - 200) * ((100vw - 640px) / (1920 - 640)));
  margin-bottom: 20px;
  padding: 10px 0px;
  /*background-color: #ECF0F1;*/
  background-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  border: .150rem solid #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align:center;
}

.stages:hover {
  /*background-color: #ECF0F1;*/
  background-color: #7FFFD4;
}

.stages h2 {
  margin: 10px 0px;
  font-size: 22px;
}

.stages h3 {
  font-size: 16px;
  margin: 0px 0px;
  color: #C19B03;
  text-shadow: 1px 1px 1px #000;
}

.stages span {
  font-size: 12px;
  color: #888;
  margin: 10px 0px;
  text-shadow: 1px 1px 1px #000;
}


.event-block {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  width: calc(200px + (500 - 200) * ((100vw - 640px) / (1920 - 640)));
  margin-bottom: 20px;
  padding: 0 10px;
  /*background-color: #ECF0F1;*/
  background-color: rgba(51, 51, 51, 0.9);
  cursor: pointer;
  border: .150rem solid rgba(193, 155, 3, 1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align:center;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.event-block:hover {
  /*background-color: #ECF0F1;*/
  background-color: rgba(193, 155, 3, 1);
}

.event-block h2 {
  margin: 10px 0px;
  font-size: 22px;
  color: var(--text-color);
}

.event-block h3 {
  font-size: 16px;
  margin: 0px 0px;
  color: var(--aqua-color);
  text-shadow: 1px 1px 1px #000;
}

.event-block span {
  font-size: 12px;
  color: var(--text-color);
  margin: 10px 0px;
  text-shadow: 1px 1px 1px #000;
}

.no-events {
        display: none;
    }


a {
  text-decoration: none;
  color: inherit;
}

.inner_tourn{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner_tourn span {
  white-space: nowrap;
}

#tittleh1{
  font-size: 36px;
  font-weight: bold;
  background-color:#FFFFF0;
  text-align: center;
  color: #333;
  padding: 10px;
  border: 1px solid #ccc;
}


.container-left {
    background: transparent;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}



.parent {
  position: relative;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.welcome_block {
    padding: 20px 0 20px;
}

/* Styles for the entire form container */
.form-container {
  max-width: calc(100% - 40px);
  margin: 0 auto;
  background-color: #f6f6f6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Styles for form labels */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

/* Styles for form inputs */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #e8e8e8;
  box-sizing: border-box;
}

/* Styles for submit button */
input[type="submit"] {
  background-color: #C19B03;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Styles for form validation error messages */
.error {
  color: red;
  font-style: italic;
  margin-top: 5px;
}

/* ADMIN STYLES */

.tile {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  display: inline-block;
  width: 300px;
}

.tile h2 {
  font-size: 18px;
  margin-top: 0;
}

.my-team-butt {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 16px;
  text-align: center;
  display: block;

  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  color: var(--text-color);
  padding: 8px 20px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  /* Set the button to fill the width of the parent element */
  width: 100px;

  /* Set the button to position at the bottom of the parent element */
  position: absolute;
  right: 0;
}

.my-team-butt:hover {
  background-color: var(--accent-color);
  color: var(--text-color);
}

.common-button-block {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.common-button-block a {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  color: var(--text-color);
  padding: 8px 20px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  margin: 0 10px;
}

.common-button-block a:hover {
  background-color: var(--accent-color);
  color: var(--text-color);
}

.common-heading {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.common-heading h3 {
  font-size: 22px;
  text-shadow: 1px 1px 1px #000;
  font-weight: 500;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  padding: 8px 20px;
  border-radius: 30px;
  margin: 0 10px;
}

.common-heading span {
  font-size: 22px;
  text-shadow: 1px 1px 1px #000;
  font-weight: 500;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  padding: 8px 20px;
  border-radius: 30px;
  margin: 0 10px;
}

