// table style

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.2rem;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
  box-shadow: 0 0 10px rgba(255,255,255,0.5);
}

table th {
  font-weight: bold;
  /*background-color: rgba(255,255,255,0.8);*/
  color: var(--text-color);
  background-color: var(--accent-new-color);
  padding: 1rem;
  text-shadow: 1px 1px 1px #000;
}

table td {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  text-align: center;
  background-color: var(--bg-color);
  border: 1px solid var(--accent-new-color);
  color: var(--text-color);
  padding: 8px 10px;
}

table td a:hover{
  color: #C19B03;
}

table td img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}


.heading-table {
  position: relative;
  text-align: center;
  margin-bottom: 10px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-new-color);
  color: var(--text-color);
  padding: 0 20px;
  border-radius: 20px;
}

.heading-table h2 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
}

.zero-padding {
  padding:0;
}