.team-overview {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(51, 51, 51, 0.9);
  border: 2px solid rgba(193, 155, 3, 1);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}

.athletes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.athlete {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  border: 1px solid var(--accent-new-color);
  border-radius: 10px;
}

.athlete:hover {
  background-color: #fff;
  color: var(--accent-new-color);
  transition: all 0.2s ease;
}

.athlete img {
  background-color: #fff;
  padding: 8px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.total-points {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0px;
}

.buttons-block {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.buttons-block a {
  display: block;
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #0077cc;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  text-align:center;
}

.buttons-block a:hover {
  background-color: #005ea6;
}

.team-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.team-name {
  padding: 8px;
  margin: -8px;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--accent-color);
  text-shadow: 0 0 10px rgba(250, 178, 0, 0.8);
}

.team-name-sub {
  font-size: 1rem;
  font-weight: normal;
  color: #ddd;
  margin-top: -6px;
  font-weight: 400;
}

.user-info {
  margin:0;
  font-size: 1rem;
  color: #ddd;
  font-weight: 400;
}

.user-name {
  font-weight: bold;
  color: var(--accent-color);
  text-shadow: 0 0 4px rgba(250, 178, 0, 0.8);
}