<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Creating team</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/main-header.css}" rel="stylesheet"/>
    <link th:href="@{/css/create-team.css}" rel="stylesheet"/>

    <script type="text/javascript" th:src="@{/js/create-team.js}"></script>
</head>
<body>
<div th:insert="~{fragments/main-header.html :: header}"></div>
<div class="main-content">
    <div class="column">
        <div class="create_block">
            <h1>Create Team</h1>
            <form id="teamForm" class="create_form" th:action="@{/user/create-team}" method="post">

                <label for="teamName">Team name:</label>
                <input type="text" id="teamName" name="name" required>

                <input type="hidden" id="eventId" name="eventId" th:value="${event.id}">

                <div>
                    <p>Select three biathletes to create your team:</p>
                    <select id="availableAthletes" multiple size="10">
                        <option th:each="athlete : ${availableAthletes}" th:value="${athlete.id}"
                                th:text="${athlete.name}"></option>
                    </select>
                    <button type="button"
                            onclick="moveAthlete(document.getElementById('availableAthletes'), document.getElementById('selectedAthletes'));">
                        Add &gt;&gt;
                    </button>
                </div>

                <div>
                    <p>Your selected athletes:</p>
                    <select id="selectedAthletes" multiple size="3"></select>
                    <button type="button"
                            onclick="moveAthlete(document.getElementById('selectedAthletes'), document.getElementById('availableAthletes'));">
                        &lt;&lt; Remove
                    </button>
                </div>

                <div class="padding_block">
                    <button type="button" onclick="submitForm();">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>