<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/main-header.css}" rel="stylesheet"/>
    <link th:href="@{/css/table.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="~{fragments/main-header.html :: header}"></div>
<div class="main-content">
    <div th:switch="${events}">
        <div class="column">
            <div class="heading-table" th:case="null">
                <h2>No events yet</h2>
            </div>
            <div class="parent" th:case="*">
                <div class="heading-table">
                    <h2>Events</h2>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>City</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Status</th>
                        <th></th>
                        <th></th>
                        <th sec:authorize="isAuthenticated()"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="event : ${events}" th:href="@{/guest/team/{id}(id=${event.id})}">
                        <td th:text="${event.id}"></td>
                        <td th:text="${event.city}"></td>
                        <td th:text="${event.startDate}"></td>
                        <td th:text="${event.endDate}"></td>
                        <td th:text="${event.status}"></td>
                        <td><a th:href="@{/event-races/{id}(id=${event.id})}">Races</a></td>
                        <td><a th:href="@{/leaderboard/{id}(id=${event.id})}">FANTASY</a></td>
                        <td sec:authorize="isAuthenticated()"><a th:href="@{/user/team/{id}(id=${event.id})}">My team</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>