<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Fantasy Biathlon League</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/main-header.css}" rel="stylesheet"/>

    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</head>
<body>
<div th:insert="~{fragments/main-header.html :: header}"></div>
<div class="main-content">
    <div class="column">
        <div class="welcome_block">
            <img src="/images/welcome.png" alt="Logo">
        </div>

        <div class="event-block">
            <h2 th:text="${current_event == null ? 'No current events' : ''}"></h2>
            <a class="inner_tourn" th:if="${current_event}" th:href="@{/leaderboard/{id}(id=${current_event.id})}">
                <h2 th:text="${current_event.city}"></h2>
                <h3 th:text="${current_event.status == 'upcoming' ? 'Starting soon' : current_event.status == 'current' ? 'In progress' : current_event.status == 'finished' ? 'Finished' : 'Unknown status'}"></h3>
                <span th:text="${current_event.startDate + ' - ' + current_event.endDate}"
                      th:if="${current_event}"></span>
            </a>
        </div>

        <div class="event-block">
            <h2 th:text="${future_event == null ? 'No upcoming events' : ''}"></h2>
            <a class="inner_tourn" th:if="${future_event}" th:href="@{/leaderboard/{id}(id=${future_event.id})}">
                <h2 th:text="${future_event.city}"></h2>
                <h3 th:text="${future_event.status == 'upcoming' ? 'Starting soon' : future_event.status == 'current' ? 'In progress' : future_event.status == 'finished' ? 'Finished' : 'Unknown status'}"></h3>
                <span th:text="${future_event.startDate + ' - ' + future_event.endDate}" th:if="${future_event}"></span>
            </a>
        </div>

        <div class="event-block">
            <h2 th:text="${past_event == null ? 'No finished events' : ''}"></h2>
            <a class="inner_tourn" th:if="${past_event}" th:href="@{/leaderboard/{id}(id=${past_event.id})}">
                <h2 th:text="${past_event.city}"></h2>
                <h3 th:text="${past_event.status == 'upcoming' ? 'Starting soon' : past_event.status == 'current' ? 'In progress' : past_event.status == 'finished' ? 'Finished' : 'Unknown status'}"></h3>
                <span th:text="${past_event.startDate + ' - ' + past_event.endDate}" th:if="${past_event}"></span>
            </a>
        </div>

        <a class="event-block" th:href="@{/events}">
            <div class="inner_tourn">
                <h2>More events</h2>
            </div>
        </a>
    </div>
</div>
</body>
</html>