<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/main-header.css}" rel="stylesheet"/>
    <link th:href="@{/css/table.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="~{fragments/main-header.html :: header}"></div>
<div class="main-content">
    <div class="column" th:switch="${teamsAndPoints}">
        <div class="heading-table" th:case="null">
            <h2>No teams yet</h2>
        </div>
        <div th:case="*" class="parent">
            <a class="my-team-butt" sec:authorize="isAuthenticated()"
               th:if="${not #lists.isEmpty(teamsAndPoints)}"
               th:href="@{/user/team/{id}(id=${teamsAndPoints[0].team.event.id})}">
                My team
            </a>
            <div class="heading-table">
                <h2 th:text="${'Leaderboard'}"></h2>
            </div>
            <table>
                <thead>
                <tr>
                    <th>Rank</th>
                    <th>Team name</th>
                    <th>Username</th>
                    <th>Total points</th>
                    <th>Overview</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="teamAndPoints, index : ${teamsAndPoints}">
                    <td th:text="${index.index + 1}"></td>
                    <td th:text="${teamAndPoints.team.name}"></td>
                    <td th:text="${teamAndPoints.team.user.username}"></td>
                    <td th:text="${teamAndPoints.totalPoints}"></td>
                    <td><a th:href="@{/team-overview/{id}(id=${teamAndPoints.team.id})}">Overview</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>