<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Races</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/main-header.css}" rel="stylesheet"/>
    <link th:href="@{/css/table.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="~{fragments/main-header.html :: header}"></div>
<div class="main-content">
    <div th:switch="${races}">
        <div class="column">
            <div class="heading-table" th:case="null">
                <h2>No races yet</h2>
            </div>
            <div class="parent" th:case="*">
                <div class="heading-table">
                    <h2>Races</h2>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>race type</th>
                        <th>city</th>
                        <th>date</th>
                        <th>distance</th>
                        <th>results</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="race : ${races}">
                        <td th:text="${race.id}"></td>
                        <td th:text="${race.raceType}"></td>
                        <td th:text="${race.event.city}"></td>
                        <td th:text="${race.date}"></td>
                        <td th:text="${race.distance}"></td>
                        <td><a th:href="@{/results/{id}(id=${race.id})}">results</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>