<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Results</title>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/main-header.css}" rel="stylesheet"/>
    <link th:href="@{/css/table.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="~{fragments/main-header.html :: header}"></div>
<div class="main-content">
    <div th:switch="${results}">
        <div class="column">
            <div class="heading-table" th:case="null">
                <h2>No results yet</h2>
            </div>
            <div class="parent" th:case="*">
                <div class="heading-table">
                    <h2 th:text="${'Results for ' + #strings.toLowerCase(race.raceType) + ' race by ' + race.date}"></h2>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Country</th>
<!--                        <th>shooting1</th>-->
<!--                        <th>shooting2</th>-->
                        <th>total misses</th>
                        <th>time</th>
                        <th>Fantazy points</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="result : ${results}">
                        <td th:text="${result.rank}"></td>
                        <td th:text="${result.athlete.name}"></td>
                        <td th:text="${result.athlete.country}"></td>
<!--                        <td th:text="${result.proneShooting}"></td>-->
<!--                        <td th:text="${result.standingShooting}"></td>-->
                        <td th:text="${result.totalMisses}"></td>
                        <td th:text="${result.behind}"></td>
                        <td th:text="${result.points}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>