<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Overview team</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/main-header.css}" rel="stylesheet"/>
    <link th:href="@{/css/team-overview.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="~{fragments/main-header.html :: header}"></div>
<div class="main-content">
    <div class="column">
        <div class="common-heading" th:if="${overviewTeam == null}">
            <span>You have no team for this event</span>
        </div>

        <div class="team-overview" th:if="${overviewTeam}">
            <div class="team-info">
                <h2 class="team-name" th:text="${overviewTeam.team.name}">Team Name</h2>
                <p class="team-name-sub">Team Overview</p>
                <p class="user-info">User: <span class="user-name" th:text="${overviewTeam.team.user.username}">Username</span></p>
            </div>
            <div class="athletes" th:if="${not #lists.isEmpty(overviewTeam.athleteAndPointsList)}">
                <div class="athlete" th:each="athleteAndPoint : ${overviewTeam.athleteAndPointsList}">
                    <img th:if="${athleteAndPoint.athlete.photo != null}" th:src="*{'data:image/png;base64,'+ athleteAndPoint.athlete.photo}" alt="Athlete Photo" />
                    <img th:unless="${athleteAndPoint.athlete.photo != null}" src="/images/biathlete_unknown.png" alt=""/>
                    <h4 th:text="${athleteAndPoint.athlete.name}"></h4>
                    <p class="points" th:text="${athleteAndPoint.points} + ' points'"></p>
                </div>
            </div>
            <p class="total-points" th:text="'Total ' + ${overviewTeam.totalPoints}"></p>
        </div>

        <div class="common-button-block">
            <a th:href="@{/leaderboard/{id}(id=${event.id})}">Leaderboard</a>
            <a th:href="@{/events}">Events</a>
            <a th:href="@{/event-races/{id}(id=${event.id})}">Event races</a>
            <a th:if="${overviewTeam == null and event.status == 'upcoming'}" th:href="@{/user/create-team/{id}(id=${event.id})}">Create team</a>
        </div>
    </div>
</div>
</body>
</html>